
    <%- require('./src/common/header.html') %>
      <div>这是container</div>
      <img src=<%= require("./src/images/logo.png") %> alt="">
    <%- require('./src/common/footer.html') %>

  </body>
</html>
