body, p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,fieldset,figure {
    margin: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
}

ul,
ol {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inhert;
}

fieldset,
img {
    border: 0;
}

input,
button,
textarea {
    outline: none;
    border: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body,
button,
input,
select,
textarea {
    font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif
}



button,
input,
select,
textarea {
    font-size: 100%
}

button {
    border-radius: 0
}

.clearfix:after{
content: "";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.clearfix {
/* 触发 hasLayout */
    zoom: 1;
}


/*

@media only screen and (-webkit-min-device-pixel-ratio:1.5),
only screen and (min--moz-device-pixel-ratio:1.5),
only screen and (-o-min-device-pixel-ratio:3/2),
only screen and (min-device-pixel-ratio:1.5) {
    .tbh-icon {
        background: url(https://img.alicdn.com/tfs/TB1tyFSXm_I8KJjy0FoXXaFnVXa-48-1194.png) 0 0 no-repeat;
        background-size: 24px 597px
    }

    .headline h3 {
        background-image: url(//img.alicdn.com/tfs/TB1x3nNX6uhSKJjSspmXXcQDpXa-258-52.png);
        background-size: 129px 26px
    }
}*/






